body{
    margin: 0px;
    

}

#navbar{
    width: 100%;
    /* border: 3px solid red; */
    display: flex;
    background-color: black;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

#logo img{
    width: 30%;
    padding: 9px;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

#profile-img{
width: 50%;
border-radius: 50%;
height: 40px;
margin-top: 5px;
cursor: pointer;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

#list li{
    display: inline;
    margin-right: 2%;
    cursor: pointer;
}

 a{
    text-decoration: none;
    color: white;
}

#search{
    width: 10%;
    padding: 14px;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

#logo{
    width: 6%;
    text-align: right;
    cursor: pointer;
}

#options{
    width: 75%;
}

#profile{
    width: 5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}
.pic{
    margin-left: 390px;
    margin-top: 30px;
    width: 30%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.txt{
    margin-left: 500px;
    margin-top: 30px;
    font-weight: bolder;
    font-size: larger;
    letter-spacing: 10px;
    

}
.repoBox{
    margin-left: 180px;
    font-weight: bolder;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;


    
}
#repo-btn{
    width: 180px;
    background-color: black;
    height: 50px;
    margin-top: 10px;
    border-radius: 50px;
    margin-left: 510px;
    color: white;
    font-size: larger;
    letter-spacing: 5px;
    

}

